app.xmlToJsonInput=src/main/java/xmlToJson/xmlFile.xml
app.xmlToJsonOutput=src/main/java/xmlToJson/jsonFile.json
app.objectToXmlOutput=src/main/java/objectToXml/xmlFile.xml

app.fourTypeOfInfoStrings=src/main/java/fourTypeOfInfo/strings.txt
app.fourTypeOfInfoIntegers=src/main/java/fourTypeOfInfo/integers.txt
app.fourTypeOfInfoDates=src/main/java/fourTypeOfInfo/dates.txt
app.fourTypeOfInfoCars=src/main/java/fourTypeOfInfo/cars.txt

app.fourTypeOfInfoData = src/main/java/fourTypeOfInfo/sample.txt